<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cpf.mapper.system.UseramountMapper" >
   
  <insert id="save" parameterType="Useramount" >
    insert into useramount
      	<selectKey resultType="java.lang.String"  order="BEFORE" keyProperty="amountid">  
	 	 	  SELECT REPLACE(UUID(), '-', '')   
	    </selectKey> 
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="amountid != null" >
        amountid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="balance != null" >
        Balance,
      </if>
      <if test="availablebalance != null" >
        AvailableBalance,
      </if>
        Margin,
      <if test="ismargin != null" >
        isMargin,
      </if>
      <if test="kymargin != null" >
        kymargin,
      </if>
        userlevel,
      <if test="userendtime!= null" >
        userendtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="amountid != null" >
        #{amountid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=DOUBLE},
      </if>
      <if test="availablebalance != null" >
        #{availablebalance,jdbcType=DOUBLE},
      </if>
		0,
      <if test="ismargin != null" >
        #{ismargin,jdbcType=VARCHAR},
      </if>
      <if test="kymargin != null" >
        #{kymargin,jdbcType=DOUBLE},
      </if>
     0,
      <if test="userendtime != null" >
        #{userendtime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.cpf.beans.system.Useramount" >
   
    update useramount
    <set >
      <if test="balance != null and balance!='' " >
        Balance = #{balance,jdbcType=DOUBLE},
      </if>
      <if test="availablebalance != null and availablebalance !='' " >
        AvailableBalance = #{availablebalance,jdbcType=DOUBLE},
      </if>
      <if test="margin != null and margin !='' " >
        Margin = #{margin,jdbcType=DOUBLE},
      </if>
      <if test="ismargin != null and ismargin !='' " >
        isMargin = #{ismargin,jdbcType=VARCHAR},
      </if>
      <if test="kymargin != null and kymargin != '' " >
        kymargin = #{kymargin,jdbcType=DOUBLE},
      </if>
      <if test="userlevel != null and userlevel !='' " >
      userlevel =  #{userlevel,jdbcType=VARCHAR},
      </if>
      <if test="userendtime != null and userendtime!= '' " >
       userendtime =  #{userendtime,jdbcType=DATE},
      </if>
    </set>
    where userid = #{userid,jdbcType=VARCHAR}
  </update>
 
</mapper>
